.body {
    background-color: #f8f8f8;
    overflow-x: hidden;
    font-size: 18px;
  }
  
  .body_image {
    background: url('https://res.cloudinary.com/davak/image/upload/v1597673478/you-x-ventures-0K7GgiA8lVE-unsplash_1_rjdjln.jpg')
      no-repeat center center/cover;
    height: 400px;
  }
  .body_image_text {
    margin-left: auto;
    margin-right: auto;
    padding-top: 10%;
  }
  
  
  .finding_young_talent {
    margin-left: auto;
    margin-right: auto !important;
    background: white;
    padding: 3rem 4.31rem;
    box-shadow: 2px 8px 24px rgba(186, 213, 249, 0.16);
    border-radius: 8px;
    margin-top: -8%;
    margin-bottom: 0px;
    text-align: center;
  }
  
  .section_text {
    padding: 20px 60px;
  }
  .students {
    /* font-size: 64px; */
    color: #ff647c;
    background: white;
    padding: 5px;
    border-radius: 8px;
  }
  .section_1 {
    margin-top: 3%;
    background-color: #e4e4e4;
    padding: 2%;
  }
  
  .company_names {
     height: 148px;
     background: #e4e4e4;
     padding: 30px;
   }
   
   .company_names .logo img {
     padding: 20px;
   }
  
  .finding_talent_hr {
    width: 100px;
    height: 5px;
    margin-left: 45%;
    background: #ff647c;
  }
  /* .finding-young-talent {
      margin: -110px 9% ;
      position: absolute;
      background: white;
      padding: 3rem 4.31rem;
      box-shadow: 2px 8px 24px rgba(186, 213, 249, 0.16);
      border-radius: 8px;
   } */
  
  .buttons {
    width: 200px;
    height: 61px;
    font-size: 24px !important;
    /* padding: 0.5rem 3rem !important; */
  }
  .why_choose_us_text {
    background: white;
    margin-top: 4rem;
    /* margin-left:2rem; */
    padding-bottom: 3.75rem;

  }
  .why_choose_us {
    margin-top: 4rem;
  }
  .why_choose_us img {
    width: 598px;
    height: 486px;
  }
  .why_choose_us_text p {
    font-weight: bold;
    font-size: 32px;
    padding: 3.75rem 3.75rem 0 3.75rem;
  }
  .why_choose_us_text li {
    padding: 0 0 0 1.5rem;
    line-height: 50px;
    list-style-type: none;
  }
  .square {
    width: 10px;
    height: 10px;
    background: #ff647c;
    display: inline-block;
    margin-right: 1rem;
  }
  .free_job_img {
    background: url('https://res.cloudinary.com/davak/image/upload/v1598047366/Mask_Group_tf8cq9.png') no-repeat center center/cover;
    height: 400px;
  }
  .free_job_img_section {
    margin-top: 4rem;
  }
  .cards_section {
    margin: 4rem 0 4rem 0;
  }
  .card_images img {
    width: 100%;
    height: auto;
  }
  .card {
    border-radius: 8px !important;
  }
  .acct-mgr {
    padding: 0 0 1.6rem 0;
  }
  .Need-help h3 {
    font-weight: bold;
    font-size: 28px;
    line-height: 39px;
  }
  .Need-help p {
    font-size: 21px;
    padding: 2rem 0;
    line-height: 28px;
  }
  .form-control {
    width: 99% !important;
  }

  .test{
    margin-right:30px;
    margin-left: 30px;
  }
 
  
  @media screen and (max-width: 1024px) {
    .body-image-text h1 {
      padding-top: 10%;
      text-align: center;
      font-size: 48px;
    }
  }
  
  @media screen and (max-width: 950px) {
    .body-image-text h1 {
      padding-top: 15%;
      padding-left: 15%;
      text-align: center;
      font-size: 48px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .body-image-text h1 {
      padding-top: 8%;
      padding-bottom: 3%;
      padding-left: 15%;
      text-align: center;
      font-size: 48px;
    }
  }
  
 