.topsection {
  height: 550px;
  width: 100%;
  background-color: #f8f8f8;
  background-image: url('https://res.cloudinary.com/davak/image/upload/v1597772767/StuWork2_z8r16i.png');
  background-position: right;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  /* opacity: 0.5 */
}

.textSection {
  font-family: 'Khula', sans-serif;
  font-size: 40px;
  width: 742px;
  font-weight: 500;
  color: #151522;
}

.span {
  font-weight: 600;
}

.ptextSection {
  width: 400px;
  letter-spacing: 0.05em;
  color: #000000;
  font-size: 18px;
  line-height: 21px;
}

.getstarted {
  margin-top: 20px;
  width: 250px;
}

.bg_img {
  left: 272px;
  bottom: 120px;
  transform: scale(0.7);
}

.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.company_names {
  height: 148px;
  background: #e4e4e4;
  padding: 30px;
}

.company_names .logo img {
  padding: 20px;
}

.thirdSection {
  /* height:920px; */
  width: 100%;
  margin-bottom: 20px;
}

.faj {
  font-weight: 600;
  font-size: 26px;
  line-height: 38px;
  color: #0084f4;
  margin-bottom: 20px;
}

.ro {
  font-weight: 600;
  font-size: 20px;
  line-height: 38px;
  color: #0084f4;
}

.fourthSection {
  background-color: #f8f8f8;
  /* height:700px; */
  width: 100%;
  /* margin-bottom:30px; */
}

.getHiredText {
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  color: #151522;
  /* border-bottom: 2px solid red; */
}

.line {
  height: 5px;
  width: 90px;
  background: #ff647c;
}
.line2 {
  width: 6.5rem;
  height: 5px;
  background: #ff647c;
  margin: auto;
  margin-bottom: 3rem;
}

.dot {
  color: #56ccf2;
  font-weight: 500;
  font-size: 80px;
  word-spacing: 10em;
  border-radius: 50%;
}

.number {
  font-size: 1.5rem;
  background-color: #2f80ed;
  border-radius: 100% !important;
  color: white;
  padding: 15px;
  width: 750px !important;
  height: 750px !important;
}

.fifthSection {
  background-color: #ffffff;
  /* height:700px; */
  width: 100%;
  /* margin-bottom:30px; */
}

.viewp {
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  color: white;
}

.sixthSection {
  background-color: #4eaeff;
  width: 100%;
  height: 416px;
}

.look {
  width: 800px;
  font-weight: 500;
  font-size: 30px;
  line-height: 47px;
  color: #ffffff;
  margin-top: 30px;
  text-align: center;
  margin-bottom: 10px;
}

.seventhSection {
  background-color: #f8f8f8;
  height: 700px;
  width: 100%;
  /* margin-bottom:30px; */
}

.believe {
  font-weight: normal;
  font-size: 32px;
  line-height: 42px;
  width: 1170px;
  text-align: center;
}

.sty {
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
}

.styp {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  margin-top: 30px;
  color: #666666;
}

.eightSection {
  background-color: #ffffff;
  /* height: 360px; */
  width: 100%;
}

.aylf {
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  color: #333333;
}

.aylfb {
  margin-right: 10px;
  margin-bottom: 10px;
  width: 143px;
  height: 51px;
  background-color: #56ccf2;
}
.aylfb2 {
  margin-right: 10px;
  margin-bottom: 10px;
  width: 173px;
  height: 51px;
  background-color: #56ccf2;
}

.cvbutton {
  width: 350px;
  height: 51px;
  margin-bottom: 20px;
}

.cvtext {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #666666;
  width: 250px
}

.vacancy{
  font-weight: bold;
font-size: 16px;
line-height: 22px;
color: #0084F4;
border-bottom: 2px solid #0084F4;
cursor:pointer;
}
