.mainlayoutMain {
	margin: 0 auto;
	display: flex;
    flex-direction: column;
	width: auto;
	height: 100vh;
	padding: 0px;
	margin: 0px;
}

.content {
	display: flex;
    flex-direction: column;
	width:auto;
	/* flex-grow:1; */
	margin: 0 auto;
   
}