.mobile_nav{
    background-color: #fff;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    float: none;
    margin: 0;
    text-align: center;
}

.ulnav{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}