.mobile_nav{
    /* background-color: black; */
    position: fixed;
    top: 0;
    bottom: 0;
    /* left: 100; */
    right: 100;
    padding: 0;
    float: none;
    margin: 0;
    text-align: center;
    z-index: 1;

}

.ulnav{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}